.form {
    margin-top: -700px;
    padding-bottom: 50px;
    margin-bottom: 420px;
    padding-left: 10%;
    margin-left: 100px;
    color: rgb(233, 228, 219);
    height: 200px;
    width: 200px;
}

.form-label {
    padding-bottom: 10px;
    height: 100px;
    width: 70px;
   
}

.form-input {
    
    margin-bottom: 15px;
    resize: horizontal;
    width: 200px;
}

.form-input-btn {
    height: 30px;
    width: 60px;
    border-radius: 10px;
}

.form-comment {
    resize: vertical;
    height: 50px;
}